<table id="slides">
  <thead>
    <tr>
      <th>Téma</th>
      <th>Přednášející</th>
      <th>Událost</th>
      <th class="recording">Video</th>
    </tr>
  </thead>
  <tbody>
    {% for post in site.posts %}
      {% if post.layout == 'slides' %}
        {% assign first = post.link | slice: 0 %}
        {% if first == "/" %}
          {% assign talk_link = post.link | prepend: "." %}
        {% else %}
          {% assign talk_link = post.link %}
        {% endif %}
        <tr>
          <td><a href="{{ talk_link }}">{{ post.talk }}</a></td>
          <td>{{ post.speaker }}</td>
          <td>{{ post.event }}</td>
          <td>{% if post.recording %}<a href="{{ post.recording }}" class="fa fa-file-video-o" target="_blank"></a>{% endif %}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

