body {
    font-size: 16px;
}

/* Top header */

#masthead .masthead-logo img {
    max-width: none;
}

/* Main area */

#slides {
    width: 100%;
    border-spacing: 0;
}

#slides th {
    background-color: #eee;
}

#slides td, td {
    padding: .1em 1em;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#slides a:link:not(:hover),
#slides a:visited
{
    color: #09d;
    text-decoration: none;
}

#slides a:hover {
    color: #07a;
}

#slides .recording {
    width: 10%;
}

#slides .fa-video:hover {
    text-decoration: none;
}
